.ColorBox {
  height: 25%;
  width: 20%;
  position: relative;
  text-transform: uppercase;
}

.ColorBox-button {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  opacity: 0;
}

.ColorBox:hover .ColorBox-button {
  opacity: 1;
  transition: 0.5s;
}
.ColorBox-color-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.ColorBox-see-more {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
