.ColorBox {
  height: 25%;
  width: 20%;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
}

.ColorBox-button {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1.3rem;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  opacity: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.ColorBox:hover .ColorBox-button {
  opacity: 1;
  transition: 0.5s;
}

.ColorBox-color-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.54)
}

.ColorBox-see-more {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.CopyOverlay {
  z-index: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.1);
  transition: transform 0.6s ease-in-out;
}

.CopyOverlay.show {
  z-index: 10;
  transform: scale(50);
  opacity: 1;
  position: absolute;
}

.CopyOverlay-message {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.1);
  font-size: 4rem;
  color: white;
  opacity: 0;
}

.CopyOverlay-message.show {
  opacity: 1;
  transform: scale(1);
  z-index: 20;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.3s;
}

.CopyOverlay-message h1 {
  font-weight: 400;
  text-shadow: 1px 2px black;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.CopyOverlay-message p {
  font-weight: 200;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}